<div class="navbar__container">
  <div class="brand__container">
    <a href="#" class="brand"> Monique Dev</a>
  </div>
  <div class="links">
    <ul>
      <li class="active">
        <a href="#Projects">Projects</a>
      </li>
      <li>
        <a href="#About">About</a>
      </li>
      <li class="contact">
        <a href="#Contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
<style>
  .navbar__container {
    display: flex;
    justify-content: space-between;
    margin: 0 12rem;
    padding-top: 2rem;
  }

  .brand__container {
    margin: 0 2rem;
    .brand {
      text-decoration: none;
      font-family: "Chakra Petch";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 31px;
      color: #ffffff;
    }
  }

  .links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
  }

  .links a {
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
</style>
